body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

.editButton {
	background-color: yellow;
	padding: 20px;
	font-weight: bold;
	color:darkred;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 10px;
}

.myProfile {
	border: 2px dashed rgb(255, 0, 0);
	border-radius: 30%;
	padding: 40px 5px;
}

h3 {
	background-color: white;
	border-radius: 50px;
	text-align: center;
	margin-top: 80px;
}

a.links {
	background-color: empty;
}